<h2 class="alert-heading">Alert Logs</h2>

<div class="alert-filter">
  <select class="filter-category" {{on "change" this.changeAlertCategory}}>
    <option value="" selected>Select category</option>
    <option value="profile_name">Profile Name</option>
  </select>

  <select class="equal-condition-dropdown" {{on "change" this.changeCondition}}>
    <option value="" selected>Select Condition</option>
    <option value="equals">Equals</option>
    <option value="notequal">Not equals</option>
  </select>

  <select {{on "change" this.changeProfileName}} value={{this.profileName}}>
    <option value="" selected>Select Profile</option>
    {{#each this.alertProfiles as |profileName|}}
      <option value={{profileName}}>{{profileName}}</option>
    {{/each}}
  </select>

  <button class="filter-btn" type="button" {{on "click" this.applyFiltering}}>Filter</button>
  

  <button class="export-as-btn">
    <i class="fa-solid fa-file-export"></i> Export as 
    <span class="dropdown-arrow"></span>

    <div class="export-dropdown-menu">
      <option value="csv"{{on "click" this.exportAsCSV}}>CSV</option>
    </div>
  </button>
</div>

{{#if this.logs.length}}
  <AlertLogsTable @logs={{this.logs}} />
{{/if}}

<div class="pagination-controls">
  <button disabled={{eq this.currentPage 1}} type="button" {{on "click" this.goToPrevPage}}>
    <i class="fa-solid fa-angle-left"></i>
  </button>

  <span>{{this.paginationInfo}}</span>

  <button disabled={{eq this.currentPage this.totalPages}} type="button" {{on "click" this.goToNextPage}}>
    <i class="fa-solid fa-angle-right"></i>
  </button>

  <select {{on "change" this.updatePageSize}}>
    <option value="5">5</option>
    <option value="10" selected>10</option>
    <option value="20">20</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="75">75</option>
    <option value="100">100</option>
  </select>
</div>
