<div class="search-container">
  <h2>Event logs</h2>

  <div class="select-device-logs">
    <p>Device</p>
    <select class ="device-select-dropdown" {{on "change" this.updateSelectedDevice}} >
      <option value = ''>Select device</option>
      {{#each this.devices as |device|}}
          <option value={{device}} >{{device}}</option>
      {{/each}}
    </select>
    <button type="button"><i class="fa-solid fa-filter" {{on "click" this.openDeviceSelection}}></i></button>
  </div>

    {{#if this.isDeviceModalOpen}}
      <div class="device-selection-popup">
        <div class="popup-content">
          <h3>Filter</h3>
          
          <div class="search-filter">
        <select class="filter-category" {{on "change" this.updateSearchCategory}}>
          <option value="" selected>Search Category</option>
          <option value="event_id">Event ID</option>
          <option value="username">Username</option>
          <option value="hostname">Hostname</option>
          <option value="event_category">Event Category</option>
          <option value="source">Source</option>
          <option value="event_type">Event Type</option>
        </select>
        <select class="filter-condition" {{on "change" this.updateCondition}}>
          <option value="" selected>Select Condition</option>
          <option value="equals">Equals</option>
          <option value="notequal">Not Equals</option>
        </select>
        <input type="text" placeholder="Enter value" class="filter-value" {{on "input" this.updateSearchField}}>

      </div>
          <button class="submit-device-btn" type="button" {{on "click" this.applyFiltering}}>Submit</button>
          <button class="cancel-btn" type="button" {{on "click" this.closeDeviceSelection}}>Cancel</button>
        </div>
      </div>
    {{/if}}


    {{#if this.isLoading}}
    <div class="spinner">
      <i class="fa-solid fa-spinner fa-spin"></i>
      </div>
      {{else}}
        {{#if this.results.length}}
          <LogTable @logs={{this.results}} @sortLogs={{this.sortLogs}} />
          {{else}}
            <p>No data found!</p>
        {{/if}}
    {{/if}}

    {{#if this.results.length}}
    
      <div class="pagination-controls">
        <button disabled={{eq this.currentPage 1}} type="button" {{on "click" this.goToPrevPage}}>
          <i class="fa-solid fa-angle-left"></i>
        </button>

        <span>{{this.paginationInfo}}</span>

        <button disabled={{eq this.currentPage this.totalPages}} type="button" {{on "click" this.goToNextPage}}>
          <i class="fa-solid fa-angle-right"></i>
        </button>

        <select {{on "change" this.changePageSize}}>
          <option value="5">5</option>
          <option value="10" selected>10</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="75">75</option>
          <option value="100">100</option>
        </select>
      </div>
    {{/if}}
</div>
