<header>
  <h1>
    <a href={{if this.isLoggedIn "/dashboard" "/"}} class="no-style-link">
      EventTracker
    </a>
  </h1>

  {{#if this.isLoggedIn}}
    <div class="header-buttons">
      {{#if this.isOnAlertsRoute}}
        <div class="dropdown">
          <button class="dropbtn" type="button">Alert Profiles</button>
          <div class="dropdown-content">
            <a href="" {{on "click" this.goToAlertProfile}}><i class="fa-solid fa-plus"></i> Add</a>
            <a href="" {{on "click" this.manageAlertProfiles}}><i class="fa-solid fa-gear"></i> Manage</a>
          </div>
        </div>
      {{/if}}
      {{#if this.isOnSearchRoute}}
        <button class = "add-device-button" type="button" {{on "click" this.goToAddDevice}}><i class="fa-solid fa-plus"></i>  Add device</button>
      {{/if}}
      <button class="logout-button" type="button" {{on "click" this.logout}}>Logout</button>
  </div>
  {{/if}}
</header>
