<table class="log-table">
  <thead>
    <tr>
      <th>Time Generated</th>
      <th>Log Information</th>
    </tr>
  </thead>
  <tbody>
    {{#each @logs as |log|}}
      <tr>
        <td>{{this.formatTimestamp log.time_generated}}</td>
        <td>
          Event category: {{log.event_category}}, Event_id: {{log.event_id}}, Source: {{log.source}}, Event_type: {{log.event_type}}, Hostname: {{log.hostname}}, Username: {{log.username}}, Record Number: {{log.record_number}}, Time written: {{this.formatTimestamp log.time_written}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

